@model Home
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<div>
    @if(User.Identity.IsAuthenticated)
    {
        <p>Welcome to the site! -@User.Identity.Name</p>
    }
</div>
<div>
    @Model.Id - @Model.Address, @Model.City
</div>